.root{
    -fx-background-color:#FCFFFD;
}

.sidebarAnchorPane{
    -fx-background-color:#006C67;
}

.selectedButtonSidebar{
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
}

.whiteLabelStyle{
    -fx-text-fill: #FCFFFD ;
}

.whiteLabelStyle:hover{
    -fx-text-fill: #d6f1ef ;
}

.greenLabelStyle{
    -fx-text-fill: #006C67 ;
}

.greenLabelStyle:hover{
    -fx-text-fill: #0d8f88 ;
}

.unselectedButtonSidebar{
    -fx-background-color: #006C67;
    -fx-background-radius: 20px;
}
.unselectedButtonSidebar:hover{
    -fx-background-color: #0d8f88;
}

.headerAnchorPane{
    -fx-background-color:#FCFFFD;
    -fx-border-width: 0px 0px 8px;
    -fx-border-color: #006C67;
}

.underlineTextField {
    -fx-background-color: #FCFFFD;
    -fx-border-width: 0px 0px 2px;
    -fx-border-color: #006C67;
}

.approvedPane{
    -fx-background-color: #E9FFEA;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #04B800;
}

.processingPane{
    -fx-background-color: #FFFAE9;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #FFB800;
}

.rejectedPane{
    -fx-background-color: #FFE9EA;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #FF0000;
}

.allApplicationPane{
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #006C67;
}

.approvedWindowBox{
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #006C67;
}

.approvedWindowPane{
    -fx-background-color: #006C67;
    -fx-background-radius: 20px 20px 0px 0px;
}

.selectionChoiceBox{
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: #006C67;
}

.selectionChoiceBoxSquare{
    -fx-background-color: #FCFFFD;
    -fx-border-width: 2px;
    -fx-border-color: #006C67;
}

.buttonStyle{
    -fx-background-color: #006C67;
    -fx-background-radius: 20px;
}
.buttonStyle:hover{
    -fx-background-color: #0d8f88;
}

.buttonStyleGrey{
    -fx-background-color: #B9B9B9;
    -fx-background-radius: 20px;
}
.buttonStyleGrey:hover{
    -fx-background-color: #a5a5a5;
}

.usersTableView{
    -fx-background-color:#FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px 20px 0px 0px;
    -fx-border-width: 3px;
    -fx-border-color: #006C67;
    -fx-table-cell-border-color: transparent;
}
.usersTableView .column-header-background{
    -fx-background-color: #006C67;
    -fx-background-radius: 20px 20px 0px 0px;
}
.usersTableView .column-header, .usersTableView .filler{
    -fx-size:50px;
    -fx-background-color:transparent;
}
.usersTableView .column-header .label{
    -fx-text-fill: white ;
    -fx-font-size: 16px;
    -fx-font-family: "Mitr SemiBold";
}

.usersTableView .table-row-cell{
    -fx-background-color: transparent;
    -fx-padding: 10px 0px 0px 0px;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-family: Mitr;
}

.usersTableView .table-row-cell:hover{
    -fx-background-color: #d6f1ef;
}

.usersTableView .table-cell{
    -fx-border-color: #c3dcda;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 12px;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.usersTableView .filler{
    -fx-background-color: #FCFFFD;
}


.usersTableView .table-row-cell:selected {
    -fx-background-color: #d6f1ef;
    -fx-text-fill: #000000;
}

.loginPane{
    -fx-background-color: #006C67;
    -fx-background-radius: 20px;
}

.SignInButton{
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
}

.SignInButton:hover{
    -fx-background-color: #d6f1ef;
    -fx-background-radius: 20px;
}

.combo-box {
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #006C67;
    -fx-border-width: 1px;
    -fx-font-family: Mitr;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}

.combo-box .arrow {
    -fx-background-color: #006C67;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view {
    -fx-background-color: #FCFFFD;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: Mitr;
    -fx-font-size: 16px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #d6f1ef;
    -fx-text-fill: #000000;
}

.small-combo-box {
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #006C67;
    -fx-border-width: 1px;
    -fx-font-family: Mitr;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.small-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: Mitr;
    -fx-font-size: 14px;
}

.big-combo-box {
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #006C67;
    -fx-border-width: 1px;
    -fx-font-family: Mitr;
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

.radio-button {
    -fx-text-fill: #000000;
}

.radio-button .radio {
    -fx-background-color: #FCFFFD;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 2px;
    -fx-border-color: #006C67;
}

.radio-button:selected .radio {
    -fx-background-color: #006C67;
}

.radio-button:selected .dot {
    -fx-background-color: #FCFFFD;
    -fx-background-insets: 0;
}

.radio-button:hover .radio {
    -fx-background-color: #E9FFEA;
}

.shadowed-square {
    -fx-effect: dropshadow(gaussian, rgba(146, 151, 145, 0.3), 20, 0.5, 0, 2);
}

.customTextArea {
    -fx-background-color: #FCFFFD;
    -fx-control-inner-background: #FCFFFD;
    -fx-border-color: #006C67;
    -fx-border-width: 3px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Mitr;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-padding: 10px;
}

.customTextArea:focused {
    -fx-control-inner-background: #FCFFFD;
}

.customTextArea .content {
    -fx-background-color: transparent;
}

.customTextArea .scroll-pane {
    -fx-background-color: transparent;
}

.customTextArea .viewport {
    -fx-background-color: transparent;
}

.customTextArea:disabled {
    -fx-background-color: #000000;
    -fx-control-inner-background: #FCFFFD;
    -fx-border-color: #006C67;
    -fx-border-width: 3px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: Mitr;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-padding: 10px;
}

.status-label {
    -fx-background-color: #006C67;
    -fx-background-radius: 20px;
}

.customPolygonButton {
    -fx-fill: #006C67;
}

.customPolygonButton:hover {
    -fx-fill: #0d8f88;
}